BOT_URL=http://127.0.0.1:7071/bot
DB_URI=postgresql://possu:password@127.0.0.1/postgres?sslmode=disable
DB_URIP=postgresql+psycopg://possu:password@127.0.0.1/postgres?sslmode=disable
DB_NAME=postgres
DB_USER=possu
DB_PASSWORD=password
DB_HOST=127.0.0.1
REDIS_URI=redis://127.0.0.1:6379/0
MASTER_KEY=uniquemasterkey
DJANGO_SECRET_KEY=uniquesecretkey
LANGSMITH_API_KEY=yourlangsmithapikey
OPENAI_API_KEY=youropenaiapikey
TAVILY_API_KEY=yourtavilyapikey
LANGCHAIN_TRACING_V2=true
FUNCTIONS_KEY=yourfunctionskey