fastapi[standard]
langgraph
langgraph-sdk
langgraph-checkpoint-postgres
langgraph-cli[inmem]
langchain-core
langchain-community
langchain-openai
psycopg[binary]
tavily-python
wikipedia
Django
python-dotenv
whitenoise
django_bootstrap5
azure-functions
docling
langchain-docling
langchain-postgres
trl
aioconsole
mem0ai